/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";


@-webkit-keyframes move {
    0% {
        background-position: 1000px 0;
    }

    50% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}




body {
    background-color: #070707;
    font-family: monospace;
    font-size: 18px;
    @media screen and (max-width: 500px){
        zoom:4;
    }
    background-image: url("http://i.imgur.com/p3ttH.png");
    repeat: repeat;
    -webkit-animation-name: move;
    -webkit-animation-duration: 400s;
    -webkit-animation-iteration-count: infinite;
}
.stretched{
    $stretch-color: #04f5f9;
    border: 5px solid $stretch-color;

    @include box-shadow(#CB04EA 0 0 50px inset, transparentize(#04f5f9, 0.9) 0 0 20px inset, #3CFC02 0 0 5px);
    @include border-radius(1px);
    //width:-10px;
    margin:0 auto;
    display: block;
    background-color: darken(transparentize($stretch-color, 0.5), 50%);
    color: white;
    vertical-align: middle;
}

a, a:link, a:visited, a:active, a:hover{
    color:#3CFC02;
    text-decoration:none;
}
.area{
    margin:.3em auto 0;
    @include inline-block;
    @include stretch;
    position:relative;
}

li {
    list-style-type:none;
    margin:0 auto 2em;
}

.twitter-mention-button {
    width:105px;
    text-align:center;
    @include inline-block;

}

#center{
    @extend .stretched;
    @include inline-block;
    @include stretch(5px,5px,5px,5px);
}

.clear {clear:both;}
