/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
.stretched{
    $stretch-color: rgba(240,255,250,.1);
    border: 3px solid darken($stretch-color,50%);
    @include border-radius(20px);
    width:77.7%;
    margin:0 auto;
    display: block;
    @include inline-block;
    background-color: lighten($stretch-color, 30%);
    color: white;
    vertical-align: middle;
}

a, a:link, a:visited, a:active, a:hover{
    color:#e3e3e3;
    text-decoration:none;
}
.area{
    @extend .stretched;
    @include inline-block;
    @include stretch(1em, 1em, 1em, 1em);
}
#container{
    width:110px;
    margin:0 auto;
}

.clear {clear:both;}
