/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
body {
    background-color: #fff;
}
.stretched{
    $stretch-color: rgb(240,255,250);
    border: 5px solid transparentize(darken($stretch-color,50%),0.5);
    @include border-radius(2px);
    width:-10px;
    margin:0 auto;
    display: block;
    @include inline-block;
    background-color: #e3e3e3;
    color: white;
    vertical-align: middle;
}

a, a:link, a:visited, a:active, a:hover{
    color:#e3e3e3;
    text-decoration:none;
}
.area{
    padding-top:30%;
    margin:0 auto;
    @include stretch;
}

.twitter-mention-button {
    width:105px;
    text-align:center;
    @include inline-block;
    margin: 0 auto;

}

#center{
    @extend .stretched;
    @include inline-block;
    @include stretch(5px,5px,5px,5px);

}

.clear {clear:both;}
