!!!5

%html
  %head
    %title
      Shit's broken.
  %body{:style => "color:black;background-color:white;font-size:200%;text-align:center;font-family:monospace;padding:10em;"}
    %a{:href =>"http://josephchiocchi.com" }
      %h1
        SORRY FOLKS
    %h2
      SHITS BROKEN
    %p
      kthnxbai.
    %p
      you still want to 
      %a{:href=>"contact.html", :alt=>"Contact"} talk
      ?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5567846-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
