---
layout: default
title:
---
<style type="text/css">
<!--
	body{
		overflow:hidden;
		}
	
	#container{
		width:100%;
		height:100%;
		background-color:black;
		
		min-height:100%;
		}
	
	.page{
		position:absolute;
		height:100%;
		width:100%;
		min-width:100%;
		min-height:100%
		}

		
	#i0{
		width: 99%;
		margin-right:20px;
		background-color: black;
		color: white;
		float:right;
		text-align:center;
		font-size: 38px;
		z-index:0;
		}

	
	{% for post in site.posts %}
	
	#i{{ forloop.index}} {
		left: {{ forloop.index |times:100 }}%;
		width: 100%;
		margin-right:0;
	{% comment %}
		left: {{ forloop.index |times:85 |plus:15 }}%;

		left: {{ forloop.index |times:600 |plus:150 |plus:600 }}px;
    {% endcomment %}
		background-color:#333333;
	}
	
	
	#a{{ forloop.index }}:target .page {
	-webkit-transform: translateX(-{{ forloop.index |times:100 }}%);
{% comment %}
	-webkit-transform: translateX(-{{ forloop.index |times:600 |plus:600 }}px);
	-moz-transform: translateX(-{{ forloop.index |times:600 |plus:600 }}px);
	-o-transform: translateX(-{{ forloop.index |times:600 |plus:600 }}px);
{% endcomment %}

	}
	

	{% endfor %}
	
	
	/* The Transition Effect */
	 
	.page { 
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-o-transition: -o-transform 0.8s;
	}
	
	#projectpanel{
		-webkit-transition: -webkit-transform 0.8s;
		-moz-transition: -moz-transform 0.8s;
		-o-transition: -o-transform 0.8s;
	}



	/* The First Page - Initial Positioning without Anchor */
	.page { 
/*
		-webkit-transform: translateX(1px);	


		-webkit-transform: translateX(-600px);
		-moz-transform: translateX(-600px); 
		-o-transform: translateX(-600px);
*/

	}
	
	
	a:active { outline: none;}
	
	{% for post in site.posts %}
	#a{{ forloop.index }}:target a#p{{ forloop.index }}{
		background-color: white;
		color: black;
		border-left:9px solid black;
		border-right:9px solid black;
		}
	{% endfor %}
	
	
	#logo {
		overflow:hidden;
		background-image:url("img/yolk-100.png");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		height: 200px;
		}

	#links a{
		background-color: #000;
		color:#fff;
		display:block;
		text-decoration:none;
		line-height:32px;
		text-align:center;
		-moz-transition: all 0.2s; 
		-webkit-transition: all 0.2s; 
		-o-transition: all 0.2s; 
		transition: all 0.2s; 
		clear:both;
		}
		
	#links a:hover{
		background-color: #aaa;
		color: #fff;
		-moz-transition: .8s;
		-webkit-transition: .8s;
		-o-transition: .8s;
		transition: .8s;
		}
	
	#navbar{
		min-width:15%;
		margin:0;
		position:fixed;
		height:100%;
		background-color:rgba(255,255,255,0.5);
		color:#fff;
		font-size:24px;
		left:0;
		float:left;	
		z-index:2;
		}
		
	#projectpanel{
		min-width:600px;
		width:85%;
		position:absolute;
		float:right;
		margin-left:15%;
		height:100%;
	}

	.postblock {
		background-position:50% 50% !important;
		cursor: pointer;
		background-repeat:repeat;
	}
	.prjtitle{
		display:none;
		}
	.postblock:hover{
/*
		background-image:none !important;
		background-color:#000 !important;
*/
		color:#fff;
		}
		

		
	.postblock:hover .prjtitle{
		display:block;
		background-color:#000;
		max-height: 500px;
		min-height: 500px;
		width:60%;
		margin:0 auto;
		font-size:24px;
		text-align:center;

		
		}
		.nextbutton, .backbutton { position: absolute; top: 0; height: 100%; width: 50%; }
		.nextbutton { cursor: pointer; right: 0; }
		.backbutton { cursor: pointer; left: 0; }
		.backarrow { 
			cursor: pointer; 
			color: white; 
			background-color: black; 
			padding: 20px; 
			left:15%; 
			bottom:0;
			z-index:2;
			position:fixed;
		}
		.backarrow:hover{

			color: black;
			background-color: white;
			}
		
-->
</style>
</head>
<body>



<div id='container'>
	<div id='navbar'>
	<div id='logo'><!-- --></div>
	<div id="links">
		<a href="#a0" id="p0">Index</a>
	{% for post in site.posts %}
		<a href="#a{{ forloop.index }}" id="p{{ forloop.index }}">{{ post.title }}</a>
	{% endfor %}
	</div>
	</div>	
	<div id='projectpanel'>

		<div id='a0'>
	{% for post in site.posts %}
		<div id='a{{ forloop.index }}' >
	{% endfor %}
	

	
	{% comment %} End navbar {% endcomment %}
		<div id='i0' class='page'>
		<p> Select a project from the left</p>
		</div>
	{% for post in site.posts %}
	
		<div id='i{{ forloop.index }}' class='postblock page' onclick="location.href='{{ post.url }}';" style="background:url('{{ post.thumb }}');">
			<div class='prjtitle'>
			{{ post.title }}
			</div>
		</div>

	{% endfor %}
				<div class='backarrow' onclick="location.href='#a0';">&larr;</div>

	
	{% for post in site.posts %}
		</div>
	{% endfor %}
		</div>
	</div>
</div>

</body>

