!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title Y O L K
    %link(href='stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css')
  %body
    #miniwindow
    #center
      %ul
        %li
          %a.area{:href => 'http://contact.yolk.cc/'}
            Contact
        %li
          %a.site{:href => 'http://mythoughtsareyours.yolk.cc'}
            MY THOUGHTS ARE YOURS
        %li
          %a.site{:href => 'http://patternsaremyfeelings.yolk.cc'}
            Patterns Are My Feelings
    %script(src="js/garbage.js")
