/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
body {
  background-color: #070707;
}

/* line 12, ../sass/screen.scss */
.stretched, #center {
  border: 5px solid #CB04EA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: -10px;
  margin: 0 auto;
  display: block;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  vertical-align: middle;
}

/* line 25, ../sass/screen.scss */
a, a:link, a:visited, a:active, a:hover {
  color: #3CFC02;
  text-decoration: none;
}

/* line 29, ../sass/screen.scss */
.area {
  margin: 0 auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

/* line 37, ../sass/screen.scss */
.twitter-mention-button {
  width: 105px;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 44, ../sass/screen.scss */
#center {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

/* line 51, ../sass/screen.scss */
.clear {
  clear: both;
}
