/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
body {
  background-color: #070707;
  font-family: monospace;
}

/* line 14, ../sass/screen.scss */
.stretched, #center {
  border: 5px solid #04f5f9;
  -webkit-box-shadow: #cb04ea 0 0 50px inset, rgba(4, 245, 249, 0.1) 0 0 20px inset, #3cfc02 0 0 5px;
  -moz-box-shadow: #cb04ea 0 0 50px inset, rgba(4, 245, 249, 0.1) 0 0 20px inset, #3cfc02 0 0 5px;
  box-shadow: #cb04ea 0 0 50px inset, rgba(4, 245, 249, 0.1) 0 0 20px inset, #3cfc02 0 0 5px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  width: -10px;
  margin: 0 auto;
  display: block;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  vertical-align: middle;
}

/* line 29, ../sass/screen.scss */
a, a:link, a:visited, a:active, a:hover {
  color: #3CFC02;
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
.area {
  margin: 0 auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

/* line 41, ../sass/screen.scss */
.twitter-mention-button {
  width: 105px;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 48, ../sass/screen.scss */
#center {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

/* line 55, ../sass/screen.scss */
.clear {
  clear: both;
}
