{% include header.html %}

<style type="text/css">
    <!--
    h1 {font-family: 'Inconsolata', arial;
        font-size:20pt;
    }   
    body {
        background-color:#{{ page.bgcolor }};
    }
    .container{
        position:absolute;
        left:0;

    }

    #back{
        padding:10px 5px;
        background-color:#000;
        color:#fff;
        text-align:center;
        font-size:9pt;
    }
    #back a{
        color:#fff;
    }
    -->
</style>
<div class='container'>
  {{ content }}
  <div class='span-5' id='back'><a href="/">&larr;BACK</a></div>
</div>
{% include footer.html %}

