{% include header.html %}

<style type="text/css">
    <!--
    h1 {font-family: 'Inconsolata', arial;
        font-size:20pt;
    }   
    body {
        background-color:#{{ page.bgcolor }};
    }

    #back{
        position:fixed;
        bottom:0;
        left:0;
        width:100px;
        background-color:#000;
        color:#fff;
        font-size:9pt;
    }
    #back a{
        color:#fff;
    }
    -->
</style>

  {{ content }}

  <div id='back'><a href="http://portfolio.yolk.cc">&larr;BACK</a></div>
{% include footer.html %}
