{% include header.html %}

<style type="text/css">
    <!--
    h1 {font-family: 'Inconsolata', arial;
        font-size:20pt;
    }   
    body {
        background-color:#{{ page.bgcolor }};
    }

    #back{
        position:fixed;
        width:750px;
        bottom:0;
        padding:10px 5px;
        background-color:#fff;
        color:#000;
        text-align:center;
        font-size:9pt;
        cursor:pointer;
    }
    #back:hover {
        color:#fff;
        background-color:#000;
    }
    -->
</style>
<div class='container'>
 
  <div class='span-5' id='back' onclick='location.href="/";'>&larr;BACK</div>
        {{ content }}
</div>

{% include footer.html %}

